.portfolio {
    margin-bottom: 20px;
    padding: 0 20px;
}

.portfolio .title {
    position: relative;
    left: 11%;
    top: 52px;
    font-size: 36px;
    text-shadow: 0 0 5px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 60%;
}

.portfolio .title.no-border {
    border-bottom: 0;
}
.portfolio img{
    width: 70px;
    border-radius: 50%;
}
 .progress-bar{
    width: 100%;
    height: 5px;
    
}
@media (max-width: 480px) {
    .portfolio .title{
    position: relative;
    left: 22%;
    top: 50px;
    
    }
    .parrafo-perfil{
        max-width: 90%;
        line-height: 1.4;
    }
    .project-container{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0;
        gap: 0;
    }
    .project{
        width: 70%;
        height: 200px;
        display: flex;
        flex-direction: column;

    }
    .image-container img{
        width: 100%;
    }
    
    
} 